.showMoreBtn{
    padding: 8px 12px;
    background-color: #004658;
    color: white;
    transition: 0.2s ease-in-out;
    border: 1px solid #004658;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}
.showMoreBtn:hover{
    background-color: white;
    color:#004658;
}
.subscribeLatestUpdate{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 9px -6px;
    padding:50px 0;
    margin:40px 0;
}
.itemFlex img{
    margin:30px;
    width: 60px;
   
}
.itemFlex{
    text-align: center;
}
.itemFlex p{
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
    
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}
