*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #004658; */
}
.logo{
    height: 45px;
    width: 194px;
}
.logo img{
    height: 100%;
    width: 100%;
}