@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
$css_color: #2196f3;
.categoryItem {
  background: #0C6075;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  min-width: 215px;
  height: 289px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 32px 15px;
  transition: 0.5s;
}

.card .box .content a {
  background: #16919f;
}


.box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #257083;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.box:hover {
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgb(19 86 107 / 21%);
}

.content {
  padding: 20px;
  text-align: center;
}

.content h2 {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 3.4rem;
  color: rgb(255 255 255 / 12%);
}

.content h3 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.content p {
  font-size: 16px;
  font-weight: 300;
  color: #c7c7c7;
  z-index: 1;
  transition: 0.5s;
}
.content a {
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(34, 34, 34);
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: white;
}
