.row {
    background-color: #EFF0F3;
    width: 100%;
    background-image: url('../../assets/img/Dot.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 20px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 5vw;
  }
  .leftContent{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .leftContent p {
    color: darkgrey;
    font-size: 20px;
    margin-bottom:20px;
  }
  
  .rightContent img {
    min-height: 300px;
    width: 100%;
  }

  @media only screen and (max-width: 599px) {
    .content{
      flex-direction: column;
      gap:30px;
      padding-bottom: 60px;
    }
    .leftContent h1{
      font-size: 35px !important;
    }
    .rightContent img {
      min-height: 180px;
      min-width: 200px;
      width: 90%;
      margin: auto;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .content{
      flex-direction: column;
      gap:30px;
      padding-bottom: 60px;
    }
    .leftContent h1{
      font-size: 40px !important;
    }
    .rightContent img {
      max-height: 487px;
      min-height: 180px;
      min-width: 200px;
      max-width: 800px;
      width: 80%;
      display: block;
      object-fit: cover;  
      margin: auto;
    }

  }
  
  @media only screen and (min-width: 768px) {}
  
  @media only screen and (min-width: 992px) {}
  
  @media only screen and (min-width: 1200px) {}
  