.row{
    background-color: #EFF0F3;
    height: 700px;
    width: 100%;
}
.container_bg_Img{
    position: fixed;
    height: 700px;
    left: 70px;
    right: 50px;
    z-index: -1;
}
.container_bg_Img img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.bannerDiv{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.right img{
    height: auto;
    max-width: 470px;
    width: 100%;
}